---
import { ISocialMedia } from "@types";
import { info } from "@data";

import SocialMedia from "@components/shell/SocialMedia.astro";

const date = new Date();
const year = date.getFullYear();

const socialMedia = info.socialMedia as ISocialMedia[];
---

<footer
  class="container flex sm:flex-row flex-col justify-between items-center mb-8 sm:mb-4"
>
  <p class="dark:text-light text-right my-8">
    &copy; {year}
    <strong>João Gomes</strong>, All Rights Reserved. <a
      class="underline text-grey hover:text-blue-500 dark:text-white dark:hover:text-blue-500 transition-colors"
      href="https://github.com/uzzii-21/astro-portfolio"
      >Astro theme by Uzair Ahmed</a
    >.
  </p>
  <ul class="flex gap-5">
    {
      socialMedia.map((social) => (
        <li>
          <SocialMedia {...social} />
        </li>
      ))
    }
  </ul>
</footer>
