---
import { socialMedia } from "@data";

import SocialMedia from "@components/shell/SocialMedia.astro";

const date = new Date();
const year = date.getFullYear();
---

<footer
  class="container flex flex-col items-center justify-between py-24 sm:flex-row"
>
  <div>
    <p class="text-center text-sm sm:text-left">
      Copyright &copy; {year}
      <strong>Jo&atilde;o Gomes</strong>, All Rights Reserved.
    </p>
    <p class="text-center text-sm sm:text-left">
      Built with
      <a class="underlined-link" href="https://astro.build">Astro</a> in Berlin.
      🚀
    </p>
  </div>
  <ul class="mt-8 flex gap-5 sm:mt-0">
    {
      socialMedia.map((social) => (
        <li>
          <SocialMedia {...social} />
        </li>
      ))
    }
  </ul>
</footer>
