---
import { navigation } from "@data";

import { Icon } from "astro-icon";

import MobileNavLink from "@components/shell/MobileNavLink.astro";
---

<div
  id="mobile-nav-drawer"
  class="fixed top-0 right-[-230px] z-50 hidden h-screen w-[230px] flex-col bg-stone-50 px-5 py-6 dark:bg-stone-900"
>
  <div>
    <div class="flex items-center justify-between">
      <p class="p-3 font-medium">João Gomes</p>
      <button class="p-2 text-stone-500" id="mobile-nav-close">
        <Icon name="tabler:x" size={20} />
      </button>
    </div>
    <nav class="mt-10 flex flex-col">
      {
        navigation.map((item) => (
          <MobileNavLink href={item.href}>{item.title}</MobileNavLink>
        ))
      }
    </nav>
  </div>
  <div class="mt-10 flex items-center gap-3 px-3">
    <button
      aria-label="Dark/Light Mode"
      id="theme-button"
      class="rounded-md border border-stone-200 bg-stone-50 p-2 text-purple-500 dark:border-stone-700/50 dark:bg-stone-800 dark:text-orange-500"
    ></button>
    <p class="text-sm">Switch theme</p>
  </div>
</div>
