---
import { Icon } from "astro-icon";

interface Props {
  name: string;
  icon: string;
  url: string;
}

const { name, icon, url } = Astro.props;
---

<a aria-label={name} href={url} target="_blank">
  <Icon
    class="hover:text-blue-500 dark:hover:text-blue-500 transition-colors"
    name={icon}
    size={32}
  />
</a>
