---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Page not found">
  <div class="m-auto flex flex-col gap-8 text-center">
    <h1 class="text-3xl font-medium">
      Believe it or not, the page was not found.
    </h1>
    <img
      src="/assets/images/dingo.gif"
      alt="Maybe the dingo ate your baby!"
      class="m-auto rounded-md"
    />
    <p class="text-xl">
      Well... This is embarrasing. The page you were trying to access was not
      found here. Maybe something broke somewhere, or maybe the dingo ate the
      page.
    </p>
  </div>
</BaseLayout>
