---
import { education } from "@data";

import ListSection from "./ListSection.astro";
---

<ListSection heading="Education">
  {
    education.map((item, index, items) => (
      <div>
        <div class="flex flex-wrap items-center justify-between">
          <div class="flex gap-2">
            <h3 class="text-xl">{item.institution}</h3>
          </div>
          <p class="dark:text-gray text-sm">{item.endDate}</p>
        </div>
        <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-400">
          {item.location}
        </p>
        <ul class="my-7 flex list-inside list-disc flex-col gap-2">
          {item.description.map((item) => (
            <li class="dark:text-gray">{item}</li>
          ))}
        </ul>
        {index !== items.length - 1 && <hr class="mt-10 opacity-10" />}
      </div>
    ))
  }
</ListSection>
