---
---

<section class="mb-[100px]">
  <h1 class="text-4xl font-semibold">Hello World, this is João.</h1>
  <p class="mt-6 text-lg">
    My name is <strong>João Gomes</strong>, and I am a <strong
      >Senior UX Designer</strong
    >, <strong>Interaction Designer</strong>, <strong>Web Developer</strong> and
    <strong>Musician</strong> based in Berlin, Germany.
  </p>
  <p class="mt-6 text-lg">
    I'm currently working at <a
      class="underlined-link"
      href="https://www.nivoda.net">Nivoda</a
    >, where I'm designing B2C and B2B2C products, as well as developing and
    teaching about design systems.
  </p>
</section>
