---
---

<section class="mb-[100px]">
  <h1 class="text-4xl font-semibold">Hello World, this is João.</h1>
  <p class="text-lg mt-6">
    My name is <strong>João Gomes</strong>, and I am a <strong
      >Senior UX Designer</strong
    >, <strong>Interaction Designer</strong>, <strong>Web Developer</strong> and
    <strong>Musician</strong> based in Berlin, Germany. I have over 15 years of experience
    as a digital designer, wearing many hats. I combine best industry practices in
    user-centered design, interaction design, web and design systems development,
    together with cutting-edge tools an technologies, to deliver world-class digital
    experiences for businesses and their customers.
  </p>
</section>
