---
interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<section
  class="dark:text-light flex flex-col items-start justify-between md:flex-row"
>
  <h2 class="mb-4 w-[15rem] text-xl md:sticky md:top-[120px] md:mb-0">
    {heading}
  </h2>
  <div class="flex w-full flex-col gap-8">
    <slot />
  </div>
</section>
