---
import { checkAuth } from "@utils";
import { getCollection } from "astro:content";

import NarrowLayout from "@layouts/NarrowLayout.astro";

const cookie = Astro.cookies.get("auth_token").value;
const projects = await getCollection("projects");

if (!cookie || !checkAuth(cookie)) {
  return Astro.redirect(`/login?redirect=/projects`);
}
---

<NarrowLayout title="Projects" heading="Projects">
  <div class="flex flex-col space-y-4">
    {
      projects.map((project) => (
        <div class="flex flex-col space-y-4">
          <h2 class="text-2xl font-bold">{project.data.title}</h2>
          <p>{project.data.description}</p>
          <a href={`/projects/${project.slug}`}>View Project</a>
        </div>
      ))
    }
  </div>
</NarrowLayout>
