---
import Footer from "@components/shell/Footer.astro";
import Navbar from "@components/shell/Navbar.astro";

import "../styles/style.css";
---

<Navbar />
<main class="container pt-40">
  <slot />
</main>
<Footer />
